@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 120, 239, 154;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: #020F1F;
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-bg{
  background: radial-gradient(55.63% 55.49% at 17.95% 0%, rgba(30, 230, 86, 0.2) 0%, rgba(30, 230, 86, 0) 100%) ;
}
